
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(193, 177, 167);
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 30px;
  margin: auto;
}

.hero-section {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

.hero-header {
  margin-bottom: 30px;
  font-size: xx-large;
}

.hero-text {
  margin-top: 0;
}